In [6]:
import pandas as pd
s =  pd.Series([2, 3] * 2 + [0, 2]) * 3 + pd.Series([2, 3])
s

0     8.0
1    12.0
2     NaN
3     NaN
4     NaN
5     NaN
dtype: float64

In [74]:
pd.Series([2, 3] * 2 + [0, 2], index = [0,'h',2,3,4,5])*3 + pd.Series([2], index = ['hasgewarwe'] )

0            NaN
2            NaN
3            NaN
4            NaN
5            NaN
h            NaN
hasgewarwe   NaN
dtype: float64

In [11]:
s = pd.Series([2, 3, 4], index = [2, 1, 0])
s

2    2
1    3
0    4
dtype: int64

In [15]:
s[:2].loc[1]

3

In [16]:
a = pd.Series([100,21,-1,1,60])
a

0    100
1     21
2     -1
3      1
4     60
dtype: int64

In [54]:
a[a>0]

0    100
1     21
3      1
4     60
dtype: int64

In [25]:
nums = pd.Series([1,2,3], index=[2,1,0])

In [27]:

nums.iloc[0]

1

In [31]:
df = pd.DataFrame([
        ["Alice", 4],
        ["Bob", 5],
        ["Cindy", 6],
        ["Dan", 7]
    ],
    index = ["A", "B", "C", "D"],
    columns = ["Name", "Score"]
)
df

    Name  Score
A  Alice      4
B    Bob      5
C  Cindy      6
D    Dan      7

In [39]:
type(df[df['Score'] >5])

pandas.core.frame.DataFrame

In [50]:
# creating a DataFrame 
data = {'1' : ['g', 'e', 'e'],  
        '2' : ['k', 's', 'f'],  
        '3' : ['o', 'r', 'g'],  
        '4' : ['e', 'e', 'k']} 
df = pd.DataFrame(data) 
print("Original DataFrame") 
display(df) 
  
print("Value of row 1") 
type(df.loc[1])

Original DataFrame

   1  2  3  4
0  g  k  o  e
1  e  s  r  e
2  e  f  g  k

Value of row 1

pandas.core.series.Series