In [ ]:
# project: p6
# submitter: bodla
# partner: kksun

In [ ]:
import csv

In [3]:
#read in data
def read_data(filepath):
    try:
        file = open(filepath, encoding = "utf-8")
    except:
        print("not working")
    file_reader = csv.reader(file)
    file_data   = list(file_reader)
    file.close()
    return file_data

#separate csv by header and data
air_bnb = read_data("./airbnb.csv")
ab_h, ab_d  = (air_bnb[0], air_bnb[1:])
print(ab_h)

['room_id', 'name', 'host_id', 'host_name', 'neighborhood_group', 'neighborhood', 'latitude', 'longitude', 'room_type', 'price', 'minimum_nights', 'number_of_reviews', 'last_review', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365']

In [4]:
#q1
neighbor_grps = [None] #prepopulate with non, then remove at the end

for i in ab_d:
    group = i[ab_h.index('neighborhood_group')]
    if(group not in neighbor_grps):
        neighbor_grps.append(group)
#     print(i[ab_h.index('neighborhood_group')])

neighbor_grps = neighbor_grps[1:]
neighbor_grps

['Brooklyn', 'Manhattan', 'Queens', 'Staten Island', 'Bronx']

In [5]:
#q2
avg_price = []

for i in ab_d:
    price = i[ab_h.index("price")]
    if(price != None):
        avg_price.append(int(price))

sum(avg_price) / len(avg_price)

152.7206871868289

In [6]:
not None

True

In [7]:
#q3
count = 0
for i in ab_d:
    room = i[ab_h.index("neighborhood")]
    count += 1 if room and room == "Chinatown" else 0

count

368

In [8]:
#q4
names = []
for i in ab_d:
    name   = i[ab_h.index("name")]
    if("superbowl" in name.lower()):
        names.append(name)
names

['UWS MANHATTAN APT FOR SUPERBOWL WE',
 'SuperBowl West Village Apartment',
 'SUPERBOWL!! 2 Bd, 2 Ba w Roof Deck!',
 '1500 sq ft apt sleeps 8 - SuperBowl',
 'Superbowl Studio Upper West Side',
 '1BR Superbowl rental Hells Kitchen',
 'Superbowl - NYC Apartment',
 'Tribeca Loft for Superbowl Wknd',
 'NYC SuperBowl Wk 5 Bdrs River View ',
 'Downtown NY Apt - SuperBowl Weekend',
 'SuperBowl Penthouse Loft 3,000 sqft',
 'Superbowl in the West Village',
 'SUPERBOWLSUNDAY! 3BLOCK FROM TIMESQ',
 'Super Apt for Superbowl',
 'PERFECT SUPERBOWL STAY',
 'MANHATTAN SUPERBOWL ACCOMODATION',
 'SuperBowl Weekend Rental! 3 BR/1ba']

In [9]:
#q5
names = []
for i in ab_d:
    name   = i[ab_h.index("name")]
    if("dream room" in name.lower()):
        names.append(name)
names

['Dream Room in Sunnyside New York',
 'The Dream Room near Barclays Center',
 'Dream Room in Modern Apartment',
 'Lower East Dream Room!',
 'The Dream Room (Private Room)',
 'DREAM ROOM: gorgegous renovated 1bd, 1 bath',
 'Exclusive Dream room 8 mins from JFK Smoking OK!',
 'King Size Dream Room',
 'KingSize Dream Room']

In [10]:
#q6
names = []
for i in ab_d:
    name   = i[ab_h.index("name")]
    if("free wifi" in name.lower()):
        names.append(name)
names

['One Bedroom Mini studio - Free WIFI',
 'Great Chelsea Location, Couch/2nd bed, Free WiFi',
 'Private 2 BR APT: Free WIFI & JACUZZI',
 'PRIVATE 1BR APT: Free WIFI & DIRECT TV',
 'Landmark 1 Bedroom has 2 beds, Free WiFi',
 'Modern and Safe Place,Free Wifi',
 'Newly renovated 2 bedroom with FREE WIFI',
 '*NO GUEST SERVICE FEE* Beekman Tower Studio with Queen Bed & Free Wifi',
 '*NO GUEST SERVICE FEE* Beekman Tower One Bedroom Suite with Queen Bed & Free Wifi',
 'Sunny Hudson Yards/ Chelsea Studio, Free WiFi',
 'Private Bedroom in MANHATTAN (Free Wifi)',
 'J- LUXURY SHARED ROOM, AC FREE WIFI+CABLE GARDEN',
 'J- *LUXURY SHARED ROOM AC FREE WIFI CABLE, GARDEN',
 'J- **LUXURY SHARED ROOM 2PPL FREE WIFI+CABLE+AC',
 '5min walk to L train - Free WiFi & Cleaning',
 'J- HOTEL STYLE SHARE ROOM FOR 2PPL FREE WIFI CABLE',
 'Explore NYC From Our Private Studio w/Free Wifi',
 'Staten Island - Free Wifi, Parking Space, Near NYC',
 'BIG BEDROOM CLOSE TO LA GUARDIA AIRPORT FREE WIFI',
 'J- COZY ROOM FOR 1 FEMALE FREE WIFI & COFFEE']

In [11]:
#q7
landeyo = ("landeyo")
# print(landeyo)
# landeyo == {'d', 'o', 'n', 'e', 'y', 'l', 'a', 'o'}

hosts = []
for i in ab_d:
    host   = i[ab_h.index("host_name")]
    if(sorted(host.lower()) == sorted(landeyo)):
        hosts.append(host)
hosts

['Yolande']

In [12]:
#q8
ids = []
for i in ab_d:
    min_nights   = int(i[ab_h.index("minimum_nights")])
    
    if(min_nights > 365):
        ids.append(i[ab_h.index("room_id")])
ids

['568684',
 '1615764',
 '4204302',
 '5431845',
 '6169897',
 '8341919',
 '8668115',
 '10053943',
 '11096888',
 '12888849',
 '20990053',
 '27362309',
 '30378211',
 '35834935']

In [13]:
#q9
# calculated_host_listings_count > 50
listings = []
for i in ab_d:
    list_cnt = int(i[ab_h.index("calculated_host_listings_count")])
    host_id  = (i[ab_h.index("host_id")])
    if(list_cnt > 50 and host_id not in set(listings)):
        listings.append(host_id)
listings

['1475015',
 '7503643',
 '16098958',
 '30283594',
 '61391963',
 '22541573',
 '107434423',
 '12243051',
 '137358866',
 '200380610',
 '219517861']

In [14]:
#q10

#loop1: find all rooms with brooklyn
#loop2: find the cheapest room
def find_cheapest(group):
    brook_prices = {}
    for i in ab_d:
        neighborhood_group = i[ab_h.index("neighborhood_group")]
        prices  = int(i[ab_h.index("price")])
        name    = i[ab_h.index("name")]
        if(neighborhood_group == group):
            brook_prices[name] = prices


    cheapest = min(brook_prices.values())
    cheap    = []
    for room in brook_prices.items():
        if(room[1] == cheapest):
            cheap.append(room[0])
    return cheap
    
find_cheapest("Brooklyn")

['Huge Brooklyn Brownstone Living, Close to it all.',
 'MARTIAL LOFT 3: REDEMPTION (upstairs, 2nd room)',
 'Sunny, Quiet Room in Greenpoint',
 'Modern apartment in the heart of Williamsburg',
 'Spacious comfortable master bedroom with nice view',
 'Contemporary bedroom in brownstone with nice view',
 'Cozy yet spacious private brownstone bedroom',
 'Coliving in Brooklyn! Modern design / Shared room',
 'Best Coliving space ever! Shared room.']

In [15]:
#q11
find_cheapest("Manhattan")

['the best you can find']

In [16]:
#q12
avg_ratios = []

for i in ab_d:
    availability = int(i[ab_h.index("availability_365")])
    if(availability==0):
        continue
    reviews = int(i[ab_h.index("number_of_reviews")])
    avg_ratios.append(reviews/availability)
sum(avg_ratios)/len(avg_ratios)

1.022127111023942

In [17]:
#q13

def is_inside(room, coords):
    room_coords = [float(room[ab_h.index("latitude")]), float(room[ab_h.index("longitude")])]
    return (coords[0] <= room_coords[0] <= coords[1]) and (coords[2] <= room_coords[1] <= coords[3])

def cheap_coord(coords):
    rooms = {}
    
    #Check if the current room is inside the given coordinate range then add to the rooms
    for i in ab_d:
        if(is_inside(i,coords)):
            rooms[i[ab_h.index("room_id")]] = i[ab_h.index("price")]
            
    cheapest = min(rooms.values())
    cheap = []
    for i in rooms.items():
        if(cheapest == i[1]):
            cheap.append(i[0])
    return cheap

cheap_coord([40.50, 40.75, -74.00 ,-73.95])

['18750597']

In [18]:
#q14
cheap_coord([40.75, 41.00, -73.95 ,-73.85])

['20333471']

In [19]:
#q15
review_300 = []

for i in ab_d:
    reviews = int(i[ab_h.index("number_of_reviews")])
    if(reviews > 300):
        review_300.append(float(i[ab_h.index("price")]))
sum(review_300) / len(review_300)

105.51515151515152

In [20]:
#q16
price_1000 = []

for i in ab_d:
    price = float(i[ab_h.index("price")])
    if(price > 1000):
        price_1000.append(int(i[ab_h.index("number_of_reviews")]))
        
sum(price_1000) / len(price_1000)

6.410041841004184

In [31]:
#q17

def p_words(word1, word2):
    sweet = sweet_home = 0

    for i in ab_d:
        name  = i[ab_h.index("name")].lower()
        sweet += 1  if(word1 in name) else 0
        sweet_home += 1 if (word1 in name and word2 in name) else 0
    
    return sweet_home / sweet * 100

p_words("sweet", "home")

30.569948186528496

In [34]:
#q18
p_words("pool", "gym")

48.92086330935252

In [36]:
#q19
p_words("five", "stars" )

10.0

In [44]:
#q20
def find_costliest(group):
    prices_nights = [0,0]
    
    for i in ab_d:
        price = float(i[ab_h.index("price")])
        if (i[ab_h.index("neighborhood_group")] == group) and prices_nights[0] < price:
            prices_nights = [price, float(i[ab_h.index("minimum_nights")])]
    return prices_nights

manhattan = find_costliest("Manhattan")
brooklyn  = find_costliest("Brooklyn")

int(manhattan[0]*manhattan[1] + brooklyn[0]*brooklyn[1])

350000.0